---
page_type: dev
title: COLOR GUIDE
---

header.page-header
  .page-header__container.container
    h1.page-header__title COLOR GUIDE
.dev
  .container.dev__container
    section.dev-section
      h2.dev-section__title Brand Colors
      .row
        .col-xs-2
          .style-guid-color.is-brand-white brand-white
        .col-xs-2
          .style-guid-color.is-brand-yellow brand-yellow
        .col-xs-2
          .style-guid-color.is-brand-blue brand-blue
        .col-xs-2
          .style-guid-color.is-brand-sky-blue brand-sky-blue
        .col-xs-2
          .style-guid-color.is-brand-red brand-red
        .col-xs-2
          .style-guid-color.is-brand-green brand-green
        .col-xs-2
          .style-guid-color.is-brand-black brand-black
        .col-xs-2
          .style-guid-color.is-brand-silver brand-silver
        .col-xs-2
          .style-guid-color.is-brand-gray brand-gray
    section.dev-section
      h2.dev-section__title Basic Colors
      .row
        .col-xs-2
          .style-guid-color.is-base-color base-color
        .col-xs-2
          .style-guid-color.is-main-color main-color
        .col-xs-2
          .style-guid-color.is-accent-color accent-color
        .col-xs-2
          .style-guid-color.is-sub-color sub-color
    section.dev-section
      h2.dev-section__title UI Colors
      .row
        .col-xs-2
          .style-guid-color.is-default default
        .col-xs-2
          .style-guid-color.is-primary primary
        .col-xs-2
          .style-guid-color.is-success success
        .col-xs-2
          .style-guid-color.is-info info
        .col-xs-2
          .style-guid-color.is-warning warning
        .col-xs-2
          .style-guid-color.is-danger danger
    section.dev-section
      h2.dev-section__title Text Colors
      .row
        .col-xs-3
          .style-guid-text-color.is-default-text default-text
        .col-xs-3
          .style-guid-text-color.is-default-text-reversal default-text-reversal
        .col-xs-3
          .style-guid-text-color.is-warning-text warning-text
        .col-xs-3
          .style-guid-text-color.is-danger-text danger-text
        .col-xs-3
          .style-guid-text-color.is-faint-text faint-text
    section.dev-section
      h2.dev-section__title Link Text Colors
      .row
        .col-xs-2
          .style-guid-text-color.is-link-text link-text
        .col-xs-2
          .style-guid-text-color.is-hover-text hover-text
        .col-xs-2
          .style-guid-text-color.is-active-text active-text
        .col-xs-2
          .style-guid-text-color.is-visited-text visited-text
        .col-xs-2.col-xs-offset-2
          .style-guid-text-color
            = link_to "link sample", "", class: "style-guid-text-color__link-sample"
