.article
  +rem('min-height', 460px)
.article__header
  +rem('margin-bottom', 24px)
  +top(-8px)
  +screen-xs
    +rem('margin-bottom', 8px)
.article__title
  +text-block(48px, 1.4, false, bold)
  +bold-ja
  +rem('letter-spacing', 1px)
  +screen-xs
    +text-block(20px, 1.3, 16px, bold)
    +rem('padding-bottom', 6px)
    +border(bottom, 1px, solid, $text-color)
  &:after
    content: "\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d\002d"
    display: block
    overflow: hidden
    height: 0
.article__title-link
  text-decoration: none
  +main-bold-font
  color: $fix-text-color
  &:hover
    color: $article-link-color
.article__last-update
  display: block
  +text-block(14px, 1, false, $fix-text-color, center)
  +nowrap
  +box-sizing(border-box)
  +date-font
  +absolute(right, 0, bottom, 8px)
  +screen-xs
    +inline-block(bottom)
    +text-block(12px, 1, 16px)
    +rem('padding', 3px 6px)
  .is-label
    +rem('margin-right', 8px)
.article__tags-item
  display: block
  +screen-xs
    +inline-block(bottom)
    +rem('margin-right', 8px)
.article__tags-link
  +inline-block(bottom)
  +relative
  +text-block(16px, 1.6)
  +rem('margin-bottom', 12px)
  text-decoration: none
  +nowrap
  +tag-font
  color: $fix-text-color
  &:hover
    color: $article-link-color
  +screen-xs
    +text-block(14px, 1.6)
  &:before
    +fa
    content: "\f02b"
    +rem('margin-right', 6px)
