.global-nav
  +rem('margin-bottom', 72px)
  +border(bottom, 1px, solid, $text-color)
  &.is-index
    +border(top, 1px, solid, $text-color)
.global-nav__wrapper
  +relative
.global-nav__site-title
  +absolute(left, 0, top, 0)
.global-nav__site-title-link
  +block-link
  +text-block(28px, 40px, 0, $text-color)
  +main-font
  +rem('padding-left', 28px)
  +rem('letter-spacing', 1px)
  .is-title
    +top(4px)
  .is-image
    width: 20px
    height: auto
    +absolute(left, 0, top, 6px)
.global-nav__items
  +rem('padding-left', 160px)
  &.is-index
    padding-left: 0
.global-nav__item
  +inline-block(bottom)
.global-nav__link
  +block-link
  +text-block(18px, 40px, 0, $text-color)
  +horizontal-padding(18px)
  +box-sizing(border-box)
  +main-font
  +rem('letter-spacing', 1px)
  &.is-current
    background-color: $accent-color
    color: $main-color
    +relative
    +baloon-tale(top, $base-color, 6px, 8px, false)
    &:before
      +rem('bottom', -1px)
