body
  overflow-x: hidden
  width: 100%
  +transition(.1s)
  &.is-slided
    +rem('margin-left', 300px)
    overflow: hidden
.header
  +box-sizing(border-box)
  +screen-xs
    +rem('margin-bottom', 16px)
.header__wrapper
  +rem('padding-top', 144px)
  +rem('height', 480px)
  +box-sizing(border-box)
  +transition(.1s)
  +relative
  +screen-xs
    +rem('padding-top', 48px)
    +rem('padding-bottom', 48px)
.header__header
  +rem('height', 40px)
.header__header-wrapper
  +relative
.header__version-link
  +text-block(14px, 40px, false, rgba($text-color, .6))
  text-decoration: none
  +inline-block
  +top(4px)
  +rem('padding-left', 36px)
  +main-font
  &:hover
    color: $text-color
  .is-label
    &:after
      content: ':'
      +horizontal-margin(4px)
  .is-number
    +rem('font-size', 18px)
.header__body
  background-color: $main-color
.header__site-title
  text-align: center
  +rem('margin-bottom', 8px)
.header__site-title-link
  text-decoration: none
  +site-title-font
  +rem('letter-spacing', 1px)
  color: $header-text-color
  &.is-sm
    +text-block(72px, 1.4)
  &.is-md
    +text-block(64px, 1.4)
  &.is-lg
    +text-block(56px, 1.4)
  &.is-xl
    +text-block(40px, 1.4)
  +screen-xs
    &.is-sm
      +text-block(48px, 1.3)
    &.is-md
      +text-block(36px, 1.3)
    &.is-lg
      +text-block(24px, 1.3)
    &.is-xl
      +text-block(12px, 1.3)
.header__site-title-logo
  +rem('width', 48px)
  height: auto
  +top(-26px)
  +rem('margin-right', 8px)
.header__site-read-line
  +text-block(24px, 1, false, center)
  +main-font
  +rem('letter-spacing', 1px)

.header__sass-link
  +absolute(left, 0, bottom, 16px)
  +block-link
  +rem('width', 60px)
.header__sass-logo
  +rem('width', 60px)
  height: auto
  +rem('margin-bottom', 6px)
.header__sass-title
  +text-block(12px, 1, false, rgba($text-color, .4), center)
  display: block
  +main-font

.header__github-link
  $size: 56px
  $motion-size: 16px
  +block-link
  background-color: $text-color
  +text-block(36px, $size, false, center, $main-color)
  +absolute(right, 0, top, $motion-size*-1)
  +rem('width', $size)
  +rem('padding-top', $motion-size)
  &:hover
    top: 0px
  &:active
    +rem('top', $motion-size*-1)
