*::selection
  background: $fix-text-color
  color: $base-color
*::-moz-selection
  background: $fix-text-color
  color: $base-color

.wrapper
  +rem('max-width', $wrapper-max-width)
  +box-sizing(border-box)
  +horizontal-mg(auto)
  +rem('padding-left', $wrapper-padding)
  +rem('padding-right', $wrapper-padding)
  clear: both

body
  +rem('font-size', 16px)
  color: $fix-text-color
  background-color: $base-color
  a
    +transition(.2s)
